<h1>All Candidates</h1>

<% @candidates.each do |candidate| %>
  <div class="candidate-section-<%= candidate.id %>">
    <ul>
      <%= link_to candidate.voter.name, candidate_path(candidate)%>
      <button type="button" class="btn btn-info">Vote</button>
    </ul>
  </div>
<% end %>
