<h1><%= @candidate.voter.name %></h1>

<p> <%= @candidate.voter.name %> is running for a position in Government. Do you want to vote for this candidate?</p>
  <button type="button" class="btn btn-info">Vote</button>
