<h1><%= @candidate.name %></h1>

<p> <%= @candidate.name %> is running for the position of
  'Governor'. Do you want to vote for this candidate?</p>
  <button type="button" class="btn btn-info">Vote</button>
