<h1>About</h1>

<div class="About">
  <div class="what-is-it">
    <h2>What is OpenSphere?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
      in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="why-important">
    <h2>Why is it important?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
      in culpa qui officia deserunt mollit anim id est laborum.

      Lorem ipsum dolor sit amet, novum dolor similique duo ea, at eum munere eirmod. Eos ad stet quando nostrum. Scripserit theophrastus at quo, in duo odio ancillae, cum integre iracundia in. Eum id paulo oporteat, sale discere diceret sed in
      Ut ius ludus aperiam assueverit, porro doming praesent et sed, petentium qualisque ad cum. Eum an nisl mazim, mazim albucius legendos nam ei. Insolens iudicabit intellegebat eam id. Vel ut case cetero ornatus, cum eu tation postea oblique. Discere dissentiunt ius no, eum virtute nominati ea, per at nisl sumo quaeque.
      Case laudem ut pro. Per no inani pertinacia, ea vim suas postulant, affert abhorreant pro te. Honestatis inciderint temporibus ad pri. Cetero accusamus necessitatibus ex nec.
      Cu elit prima consequuntur qui. His graecis atomorum intellegebat et, sea modus convenire consectetuer ne. Viderer inermis vituperata te per, et vix latine forensibus. Duo ad mundi dolores intellegebat.
      Causae commune sed eu. In rebum forensibus qui, mel esse iudico labitur cu, atqui accumsan voluptatum ne vix. Eu utroque invenire sea. Ne qui ferri inani accommodare, mel prima accusam deserunt ad, ad vim luptatum nominati consulatu. Numquam reprimique eam an, eu ferri atomorum electram duo. Vel id quem nullam maiorum, dicunt eligendi delicata nec ei.

      Lorem ipsum dolor sit amet, novum dolor similique duo ea, at eum munere eirmod. Eos ad stet quando nostrum. Scripserit theophrastus at quo, in duo odio ancillae, cum integre iracundia in. Eum id paulo oporteat, sale discere diceret sed in.
      Ut ius ludus aperiam assueverit, porro doming praesent et sed, petentium qualisque ad cum. Eum an nisl mazim, mazim albucius legendos nam ei. Insolens iudicabit intellegebat eam id. Vel ut case cetero ornatus, cum eu tation postea oblique. Discere dissentiunt ius no, eum virtute nominati ea, per at nisl sumo quaeque.
      Case laudem ut pro. Per no inani pertinacia, ea vim suas postulant, affert abhorreant pro te. Honestatis inciderint temporibus ad pri. Cetero accusamus necessitatibus ex nec.
      Cu elit prima consequuntur qui. His graecis atomorum intellegebat et, sea modus convenire consectetuer ne. Viderer inermis vituperata te per, et vix latine forensibus. Duo ad mundi dolores intellegebat.
      Causae commune sed eu. In rebum forensibus qui, mel esse iudico labitur cu, atqui accumsan voluptatum ne vix. Eu utroque invenire sea. Ne qui ferri inani accommodare, mel prima accusam deserunt ad, ad vim luptatum nominati consulatu. Numquam reprimique eam an, eu ferri atomorum electram duo. Vel id quem nullam maiorum, dicunt eligendi delicata nec ei.
    </p>
  </div>
</div>
